    <button type="button" [matMenuTriggerFor]="Info">Info</button>
    <mat-menu #Info>
        <a href="stantion">            
            <menu mat-menu-item>Stantions</menu>
        </a>
        <a href="travel">            
            <menu mat-menu-item>Travels</menu>
        </a>
      </mat-menu>

      <button type="button" [matMenuTriggerFor]="Admin">Admin</button>
    <mat-menu #Admin>
        <a href="stantion">            
            <menu mat-menu-item>Stantions</menu>
        </a>
        <a href="travel">            
            <menu mat-menu-item>Travels</menu>
        </a>
      </mat-menu>
  
      <router-outlet></router-outlet>
