<form class="card-body" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="mat-card-title">Registration</h2>
  <div class="input-field">
    <mat-card-subtitle>Email</mat-card-subtitle>
    <input formControlName="email" id="email" type="email">
  </div>
  <div class="input-field">
    <mat-card-subtitle>Password</mat-card-subtitle>
    <input formControlName="password" id="password" type="password">
  </div>
  <div class="input-field">
    <mat-card-subtitle>Admin key</mat-card-subtitle>
    <p class="card-text">Leave this field empty</p>
    <input formControlName="admin" id="admin" type="text" value="delete this text">
  </div>
  <br>
  <button [disabled]="form.invalid || form.disabled" class="btn btn-primary" type="submit">Registration</button>
</form>