<form class="card-body" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card-title>Login</mat-card-title>
  <div class="input-field">
    <mat-card-subtitle>Email</mat-card-subtitle>
    <input formControlName="email" id="email" type="email">
  </div>
  <div class="input-field">
    <mat-card-subtitle>Password</mat-card-subtitle>
    <span class="helper-text"></span>
    <input formControlName="password" id="password" type="password">
  </div>
  <br>
  <button mat-button [disabled]="form.invalid || form.disabled" class="btn btn-primary" type="submit">Login</button>
</form>